* {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, San-serif;
}

td{
	padding: 10px;
}
body {
  margin: 0;
  padding: 0;
  background:#FFF;
}

/* This is what holds the whole preloader and covers the screen */
.preloaderHolder{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* If the box option is selected this is how it is displayed */
.modalBox {
    background: white;
    z-index: 9999;
    margin: auto;
    width: 60%;
    height: 50%;
    position: fixed;
    opacity: 2;
    border-radius: 10px;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1); 
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,1); 
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,1);
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* This class holds the logo, percent, and style of pre-loader*/
.cs-loader {
  width: 100%;
  color: #3498db; 
  text-align: center;
  position: absolute;
  padding-left: 4%;
}

/* Logo shown */
img.preloaderLogo {
    padding-top: 40%;
    height: 150px;
}

/* Content holder */
.preloaderContent {
    position: relative;
    top: 75px;
    height: 30px;
    font-size: 30px;
}

.percentHolder {
    position: relative;
    top: -135px;
}

/* <div> class that holds the Title and Content of a message */
.modalBoxWrapper {
    width: 50%;
    position: relative;
    left: 43%;
    top: 20%;
	text-align: center;
}

/* Title of the message */
.preloaderTitle {
    font-size: 32px;
    color: #0f527f;
	width: 100%;
    text-align: center;
}

/* The content of the message */
.preloaderInfo {
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #249dce;
    padding-top: 20px;
}

/* The close button shown in the top right corner of our modalBox*/
#preLoaderCloser {
    position: absolute;
    top: -9px;
    color: #0f527f;
    font-size: 32px;
	height: 25px;
	width: 25px;
    right: -8px;
    text-align: center;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

#preLoaderCloser:hover{
	cursor: pointer;
}

/* The close button that text can be inserted to*/
.preLoaderCloseText {
    width: 100%;
    text-align: center;
    font-size: 20px;
	font-weight: bold;
    color: white;
    background: #0f527f;
    border-radius: 5px;
	transition-property: background;
	transition-duration: .17s;
	transition-timing-function: linear;
    margin: auto;
    margin-top: 20px;
	padding: 10px;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

.preLoaderCloseText:hover{
	color: #0f527f;
	background: white;
	border: 2px solid #0f526f;
	cursor: pointer;
}

/* The spinner loader shown when circular is selected */
.spinner {
   height: 230px;
   width: 230px;
  margin:0 auto;
  position:relative;
  top: -216px;
  margin: -(200px/2) 0 0 -(200px/2);
   -webkit-animation: rotation 1s infinite linear;
   -moz-animation: rotation 1s infinite linear;
   -o-animation: rotation 1s infinite linear;
   animation: rotation 1s infinite linear;
   border:6px solid rgba(0,0,0,.2);
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top: 6px solid rgb(15, 82, 127);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}

/* The horizontal loader styling */
.cs-loader label {
	font-size: 80px;
    opacity: 0;
    position: relative;
    display: inline-block;
    top: -80px;
}

/* Each dot to the horizontal loader */
.cs-loader label:nth-child(8) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader label:nth-child(7) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader label:nth-child(6) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader label:nth-child(5) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader label:nth-child(4) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader label:nth-child(3) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

/* Animations used for spinner, horizontal loader, and fade in */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/*-------*/
/*Spinner*/
/*-------*/
@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
  }
 
/*--------------------*/
/* Fade in for buttons*/
/*--------------------*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*------------*/
/* Horizontal */
/*------------*/
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}